RewriteEngine on

RedirectMatch 302 \
	^/?$ \
	https://github.com/ClassicPress/subdomain-link

RedirectMatch 302 \
	^/forum/security/?$ \
	https://forums.classicpress.net/c/team-discussions/classicpress-security

RedirectMatch 302 \
	^/plugin-compatibility/?$ \
	https://docs.classicpress.net/faq-support/#will-my-current-plugins-and-themes-work-in-classicpress

RedirectMatch 302 \
	^/security-page/?$ \
	https://docs.classicpress.net/developing-classicpress/security-page/

RedirectMatch 302 \
	^/security-page/contact-plugin-authors/?$ \
	https://docs.classicpress.net/developing-classicpress/security-page/#contacting-plugin-authors

RedirectMatch 302 \
	^/support/security-page/?$ \
	https://forums.classicpress.net/c/support/security-page

RedirectMatch 302 \
	^/updating-classicpress/?$ \
	https://docs.classicpress.net/updating-classicpress/

RedirectMatch 302 \
	^installing-classicpress/#installation-step \
	https://docs.classicpress.net/installing-classicpress/#installation-step

RedirectMatch 302 \
	^testing-classicpress/#reporting-bugs \
	https://docs.classicpress.net/testing-classicpress/#reporting-bugs